
.slider-wrap {
    display: flex;
    font-size: 0;
}
.slider-wrap .slider {
    width: 78%;
    position: relative;
}
.slider-wrap .slider article {
    display: flex;
    opacity: 0;
    transition: all 0.1s linear .2s, opacity .5s;
    z-index: 0;
}

.slider-wrap .slider article.active {
    opacity: 1;
    z-index: 1;
    transition: all 0.1s linear .2s, opacity .3s;
}

.slider-wrap .slider article:not(:nth-child(1)) {
    position: absolute;
    top: 0;
    left: 0;
}
.slide-left {
    width: 56.3%;
}
.slide-left img {
    width: 100%;
}
.slide-right {
    width: 43.7%;
    padding-left: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide-right_top {
    font-family: 'Cormorant';
    font-weight: 600;
    overflow: hidden;
    height: 250px;
}
.slide-right_top h3 {
    margin-top: 8.4%;
    font-size: 26px;
    line-height: 1;
    height: 82px;
}
.slide-right_top p {
    margin-top: 7%;
    font-size: 14px;
}
.slide-right_bot {
    text-align: right;
}
.slide-right_bot a {
    background: #202020;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3.5px;
    width: 125px;
    height: 23px;
    border-radius: 22px;
    text-align: center;
    line-height: 25px;
    transition: .5s;
}

.slide-right_bot a:hover {
    background: #455ea7;
    color: #fff;
}

.doctor-page .slide-right_bot a:hover {
    background: #7e2b83;
    color: #fff;
}

.useful {
    max-width: 1170px;
    height: 230px;
    width: 100%;
    margin: 0 4% 0 4%;
}

.useful img {
    height: 230px;
    width: 100%;
}

.section-useful {
    margin-top: 146px;
}
.slider-nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    left: 501px;
    z-index: 3;
    align-items: center;
}

.arr-slider {
    color: #000;
    padding: 4px 8px;
    background: #fff;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid #000;
}

.arr-slider:hover {
    color: #fff;
    background: #000;
}
.dots {
    display: flex;
    padding: 0 10px;
}
.section-clos {
    display: none;
}
.dot {
    display: block;
    background: #000;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin: 0 7px;
}

.dot.active {
    background: #455ea7;
}
.doctor-page .dot.active {
    background: #7e2b83;
}
.ad {
    width: 22%;
    text-align: right;
    height: 325px;
}
.doctor-page .video .button-block a:hover {
    background: #7e2b83;
}
.ad img {
    width: 85%;
    height: 325px;
}
.most-popular {
    margin-top: 119px;
}
.article-big .title-time {
    margin-top: 4.2%;
}
.article-big article a:last-of-type {
    margin-top: 3%;
}
.article-big h3 {
    font-size: 24px;
    line-height: 26px;
}
.video {
    margin-top: 127px;
}
.video .articles-horizontal {
    margin-top: 0;
}
.video .articles-horizontal .line-vertical {
    width: 1px;
    height: 253px;
    top: 0;
    position: relative;
    background: #5d5d5d;
}
.video .articles-horizontal h3 {
    color: #fff;
    margin-top: 13px;
    margin-left: 1px;
}
.video .articles-horizontal .title-time {
    margin-top: 20px;
}
.video .articles-horizontal .title-time time {
    padding: 0 1px;
    line-height: 1;
    margin-right: 19px;
}
.video .articles-horizontal::before {
    height: 145%;
    top: -39px;
    background: #202020;
}
.video .button-block a {
    background: #fff;
    color: #202020;
}

.video .button-block a:hover {
    background: #455ea7;
    color: #fff;
}
.video .button-line::before {
    background: #5d5d5d;
}
.video .horizontal-line {
    width: 100%;
    display: block;
    position: relative;
    height: 7px;
    background: #5d5d5d;
}

/*-------------section 4---------------*/

.interesting-facts {
    margin-top: 167px;
}

.interesting-facts .content {
    height: 360px;
    display: flex;
}

.interesting-facts .content > * {
    width: 50%;
}

.interesting-facts .articles-vertical {
    padding-left: 0;
    position: relative;
    left: -3%;
}

.interesting-facts .articles-vertical .mCSB_container {
    padding-left: 6%;
}

.interesting-facts .articles-vertical article {
    padding: 16px 0;
}

.interesting-facts .articles-vertical article:first-child {
    padding: 0 0 16px 0;
}

.interesting-facts .articles-vertical article:nth-child(2n)::before {
    content: '';
    background: #f3f3f3;
    position: absolute;
    width: 105.7%;
    height: 100%;
    left: -6.4%;
    top: 0;
}

.interesting-facts .articles-vertical article .link-img {
    width: 35.8%;
}

.interesting-facts .articles-vertical article > div {
    padding-right: 4%;
}

#section-4.interesting-facts .aside-block {
    margin-top: 14px;
}
.interesting-facts .aside-block {
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doctor-page .aside-block {
    margin-top: 11px;
}
.interesting-facts .aside-block .line-container {
    height: auto;
}

.interesting-facts .aside-block .vertical-line {
    order: 2;
    width: 100%;
    height: 7px;
    margin-left: 21px;
    margin-top: 5px;
    position: relative;
}

.interesting-facts .aside-block h2 {
    order: 1;
    font-size: 30px;
    line-height: 24px;
    opacity:1;
    transform: none;
    position: relative;
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0;
}

.interesting-facts .aside-block .form-wrap {
    margin: 12% 0;
    padding: 9% 14%;
    background: #f3f3f3;
}

.doctor-page .interesting-facts .aside-block .form-wrap {
    margin: 9% 0;
    padding: 4% 14% 7% 14%;
}

.doctor-page .interesting-facts .aside-block .form-wrap form button {
    margin-top: 25px;
}

.interesting-facts .aside-block .form-wrap form h4,
.interesting-facts .aside-block .form-wrap form strong {
    font-size: 24px;
}

.interesting-facts .aside-block .form-wrap form strong {
    line-height: 18px;
    font-family: 'Cormorant';
    font-weight: 700;
    margin: 1px 0 31px;
    color: #202020;
}

.interesting-facts .aside-block .form-wrap form input,
.interesting-facts .aside-block .form-wrap form select {
    height: 32px;
    border: 1px solid #e4e4e4;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    color: #5D5D5D;
}

.interesting-facts .aside-block .form-wrap form button {
    width: 100%;
    height: 35px;
    margin: auto;
    margin-top: 36px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
    cursor: pointer;
    transition: .5s;
}

/*-------------section 5---------------*/

.diet-food {
    margin-top: 88px;
}
.diet-food .content {
    display: flex;
}
.diet-food .content > * {
    width: 50%;
}
.diet-food .content > .button-block {
    width: 100%;
}
.diet-food .button-block {
    margin-top: 87px;
    padding-right: 4.4%;
}
.beauty-health {
    margin-top: 147px;
}
.beauty-health .articles-horizontal {
    margin-top: 0;
}
.beauty-health .button-block {
    margin-top: 59px;
    padding-right: 4.4%;
}

.doctor-page .beauty-health .button-block {
    margin-top: 60px;
}
.medicine-treatment {
    margin-top: 88px;
}
.medicine-treatment .content {
    display: flex;
}
.medicine-treatment .content > * {
    width: 50%;
}
.medicine-treatment .content > .button-block {
    width: 100%;
}
.medicine-treatment .button-block {
    margin-top: 92px;
    padding-right: 4.4%;
}

.doctor-page .helpful-tips {
    margin-top: 154px;
}
.helpful-tips .articles-horizontal {
    margin-top: 0;
}
.helpful-tips .button-block {
    margin-top: 59px;
    padding-right: 4.4%;
}
.horoscope-patient {
    margin-top: 111px;
}
.horoscope-patient .articles-horizontal {
    margin-top: 0;
}
.horoscope-patient .button-block {
    margin-top: 21px;
    padding-right: 4.4%;
}
.horoscope-patient .hrp {
    width: 90.58%;
    margin: 4.27% 0 0 3.4%;
}
.horoscope-patient .hrp .icons-img {
    margin-bottom: 56px;
}
.horoscope-patient .hrp .icons-img span {
    letter-spacing: 1px;
    color: #000;
}
.stomatology {
    margin-top: 142px;
}
.stomatology .content {
    display: flex;
}
.stomatology .content > * {
    width: 50%;
}
.stomatology .content > .button-block {
    width: 100%;
}
.stomatology .button-block {
    margin-top: 87px;
    padding-right: 4.4%;
}

.doctor-page #section-9.stomatology .button-block {
    margin-top: 90px;
}

.doctor-page #section-12.psychology {
    margin-top: 127px;
}

.psychology {
    margin-top: 149px;
}
.psychology .articles-horizontal {
    margin-top: 0;
}
.psychology .button-block {
    margin-top: 61px;
    padding-right: 4.4%;
}

.endocrinology .button-block {
    margin-top: 61px;
}
.desser {
    margin-top: 155px;
}
.treatment-doctor {
    margin-top: 81px;
}
.endocrinology {
    margin-top: 150px;  
}
.stomatology-doctor {
    margin-top: 87px;
}
.mCSB_scrollTools {
    opacity: 1;
    width: 7px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 1px;
    background: #9b9b9b;
}

#mCSB_1_scrollbar_vertical .mCSB_dragger {
    height: 44px !important;
    width: 100%;
    background: #455ea7;
}
.doctor-page #mCSB_1_scrollbar_vertical .mCSB_dragger {
    background: #7e2b83;
}
.doctor-page .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.doctor-page .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.doctor-page .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
.doctor-page .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: #7E2B83;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #455ea7;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #455ea7;
}
/*section 6-1*/
.blog-doctor {
    margin-top: 149px;
}
.blog-doctor article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-doctor article a {
    width: 53.6%;
}
.blog-doctor article div {
    width: 42.1%;
    display: flex;
    flex-direction: column;
    padding-right: 5.8%;
}

.blog-doctor .views {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.blog-doctor article:hover .views {
    display: flex;
    font-size: 12px;
    font-family: "Roboto";
    padding: 0 0 10px 5px;
    flex-direction: row;
}

.blog-doctor .views::before {
    content: '';
    background: url(/estet/img/veiw.png);
    width: 14px;
    height: 14px;
    margin: 0px 5px 1px 10px
}

.blog-doctor .content.active article a .views {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 12px;
    font-family: "Roboto";
    padding: 0 0 10px 5px;
    flex-direction: row;

}

.blog-doctor .content.articles-divisions .button-block {
    width: 100%;
}

.blog-doctor .content.articles-divisions > * {
    width: 48.8%;
}
.blog-doctor .content.articles-divisions {
    justify-content: space-between;
    padding-right: 7%;
}
.blog-doctor .title-time {
    width: 100%;
    flex-direction: column;
    align-items: right;
    order: 1;
}
.blog-doctor .title-time p {
    margin-top: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D5D5D;
}
.blog-doctor .link-title {
    width: 100%;
    order: 3;
    margin-top: 18px;
    overflow: hidden;
    height: 87px;
}
.blog-doctor .blog-read-more {
    width: 100%;
    order: 2;
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5D5D5D;
}
.blog-doctor .blog-read-more .author {
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.blog-doctor .blog-doctor article .blog-read-more div {
    padding-right: 0;
}
.blog-doctor .blog-read-more .author p {
    overflow: hidden;
    height: 19px;
}

.blog-doctor .content.articles-divisions > :nth-child(1),
.blog-doctor .content.articles-divisions > :nth-child(2) {
    padding-bottom: 44px;
}
.blog-doctor .button-block {
    margin-top: 94px;
}
.cosmetology-food {
    margin-top: 107px;
}
.cosmetology-food .button-block {
    margin-top: 90px;
}
/*section-11-1*/
.venerology {
    margin-top: 155px;
}
.venerology .articles-vertical {
    padding-left: 0;
}

#section-11-1.venerology #section-2-2 .articles-vertical article .link-img {
    width: 34.1%;
}
.venerology .block-doctor-ven .articles-vertical {
    padding-left: 12.1%;
    width: 100%;
}

.venerology .block-doctor-ven .left-title {
    display: flex;
}
.venerology .content.articles-divisions {
    display: flex;
    justify-content: space-between;
}
.venerology .content.articles-divisions .articles-vertical {
    width: 100%;
}

.venerology .content.articles-divisions .block-doctor-ven .articles-vertical {
    width: 100%;
}

.venerology .content.articles-divisions .block-doctor-ven .articles-vertical {
    height: 472px;
}
.venerology .content.articles-divisions .articles-vertical .button-block {
    top: 107%;
}
.venerology .content.articles-divisions .block-doctor-ven .articles-vertical .button-block {
    top: 107%;
    width: 35%;
    left: 65%;
}
.venerology .content.articles-divisions .block-doctor-ven .left-title {
    left: 5%;
}

.venerology #section-1-1 .left-title {
    width: 27.8%;
}

.venerology #section-1-1 .content.articles-divisions {
    padding-left: 5px;
    padding-right: 0;
}

.venerology #section-2-1 .content.articles-divisions {
    width: 87.2%;
    padding-right: 5.9%;
}

.venerology #section-2-2 {
    padding-left: 5%;
    width: 88%;
}

.venerology #section-1-1 {
    width: 86%;
    height: 472px;
}

.venerology #section-1-1 .content.articles-divisions .articles-vertical .button-block {
    top: 106.4%;
    left: 9.5%;
}

.venerology #section-2-2 .content.articles-divisions .articles-vertical .button-block {
    top: 106.4%;
    left: -4%;
}

.venerology #section-2-2 .content.articles-divisions .articles-vertical .button-block .button-line {
    width: 24%;
}

/*section-8*/
#section-8.helpful-tips {
    margin-top: 149px;
}

/*section-10*/
#section-10.stomatology {
    margin-top: 100px;
}

.container {
    padding-bottom: 147px;
}